Hostname "{GCE_INSTANCE_ID}" 

Interval 60

PluginDir "/var/vcap/packages/stackdriver-agent/collectd/lib/collectd/"
TypesDB "/var/vcap/packages/stackdriver-agent/collectd/share/collectd/types.db"

LoadPlugin write_http
LoadPlugin syslog
<Plugin "syslog">
  LogLevel "info"
</Plugin>

<Plugin "write_http">
  <Node "stackdriver">
    URL "https://collectd-gateway.google.stackdriver.com/v1/agent?stackdriver-apikey={STACKDRIVER_API_KEY}"
    Format "JSON"
    StoreRates true
    # If bytes/sec drops below LowSpeedLimit, abort connection.
    LowSpeedLimit 100
    # Abort posts that take longer than this many millseconds.
    Timeout 10000
  </Node>
</Plugin>

LoadPlugin df
<Plugin "df">
  FSType "devfs"
  IgnoreSelected true
  ReportByDevice true
</Plugin>

LoadPlugin cpu
LoadPlugin swap
LoadPlugin interface
LoadPlugin disk
LoadPlugin load
LoadPlugin memory
LoadPlugin processes
LoadPlugin tcpconns

<Plugin "disk">
  # No config - collectd fails parsing configuration if tag is empty.
</Plugin>

#LoadPlugin logfile
#<Plugin "logfile">
#  LogLevel "info"
#  File "/var/log/collectd.log"
#  Timestamp true
#</Plugin>

LoadPlugin aggregation
<Plugin "aggregation">
    <Aggregation>
       Plugin "cpu"
       Type "cpu"

       GroupBy "Host"
       GroupBy "TypeInstance"

       CalculateAverage true
    </Aggregation>

    <Aggregation>
       Plugin "tcpconns"
       Type "tcp_connections"

       SetTypeInstance "open_connections"

       GroupBy "Host"

       CalculateSum true
    </Aggregation>

</Plugin>

# Only consider ESTABLISHED, FIN_WAIT1, FIN_WAIT2 and CLOSE_WAIT as open
LoadPlugin "match_regex"
PreCacheChain "DropNonTCP"
<Chain "DropNonTCP">
  <Rule "ignore_non_open_tcpconns">
    <Match regex>
      Plugin "^tcpconns$"
      TypeInstance "^CLOSED|CLOSING|LAST_ACK|LISTEN|SYN_RECV|SYN_SENT|TIME_WAIT$"
    </Match>
    Target "stop"
  </Rule>
</Chain>

PostCacheChain "WriteOut"
<Chain "WriteOut">
  # Do not send the per-state statistics to the gateway
  <Rule "ignore_tcpconns">
    <Match regex>
      Plugin "^tcpconns$"
    </Match>
    <Target write>
      Plugin "aggregation"
    </Target>
    Target "stop"
  </Rule>

  # Do not send the per-CPU statistics to the gateway
  <Rule "ignore_cpu">
    <Match regex>
      Plugin "^cpu$"
    </Match>
    <Target write>
      Plugin "aggregation"
    </Target>
    Target "stop"
  </Rule>

  # Write everything else to the gateway
  <Target "write">
     Plugin "write_http/stackdriver"
  </Target>
</Chain>

# Initially we had two Chains with the name 'PreCache', which caused a name conflict and ignored the second Chain.
# By naming each Chain, we can avoid that problem.
# 'PreCache' is the default value for PreCacheChains. But when we explicitly declare a
# PreCacheChain (PreCacheChain "DropNonTCP") the default value doesn't work. So we explicitly declare
# PreCache to be a PreCacheChain.
PreCacheChain "PreCache"

# if you have other config, especially for plugins, you can drop them
# into this directory
Include "/var/vcap/packages/stackdriver-agent/collectd/etc/collectd.d"
