[base]
# id of the host. instance id for instances, generated otherwise
host_id=

# api key to use to talk to the Stackdriver gateway
apikey=

# debug mode logs output rather than sending
debug=False

url=https://gateway.google.stackdriver.com
url_version=v1
proxy_url=

[daemon]
# where to store the pid
pid_file=/var/vcap/sys/run/stackdriver_agent/stackdriver_extractor.pid

# how often to send information
interval=60

[logging]
log_file=
log_level='INFO'
stdout=
stderr=
