# http://direnv.net

export FIREHOSE_ENDPOINT=https://api.bosh-lite.com
export FIREHOSE_USERNAME=admin
export FIREHOSE_PASSWORD=admin
export FIREHOSE_SKIP_SSL=true
export GCP_PROJECT_ID=<fill in gcp project id>
